{fbt(
 [
 'Go on an ',
 \fbt\createElement('a', \fbt\createElement('span', 'awesome'), ['href' => '#']),
 ' vacation',
 ],
 'It\'s simple',
 ['project' => "foo"]
)}

{fbt('Pick an emoji…', 'placeholder text for emoji picker')}
